// http://www.materialpalette.com/red/light-blue

json('../cfg/config.json')

c_primary = cfg-guide-primary
c_primaryDark = cfg-guide-primaryDark
c_primaryLight = cfg-guide-primaryLight
c_text = cfg-guide-text
c_accent = cfg-guide-accent
c_primaryText = cfg-guide-primaryText
c_secondaryText = cfg-guide-secondaryText
c_divider = cfg-guide-divider
