clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

fontfaces(dir, fonts)

  for font in fonts
    @font-face
      font-family join('-', dir font)
      src url(/fnt/dir/font.eot) format('embedded-opentype')
      font-weight normal
      font-style normal



filterblur(size)
  -webkit-filter blur(size)
  -moz-filter blur(size)
  -o-filter blur(size)
  -ms-filter blur(size)
  filter blur(size)
