extends inc/layout

block content
  include inc/header

  .main

    form.form

      .input
        .label Project
        input(name='project',type='text',tabindex=1)
      .input
        .label Agency
        input(name='agency',type='text',tabindex=2)
      .input
        .label Description
        textarea(name='description', type='text',tabindex=3)

      .buttons
        button.button.right(type='submit',tabindex=4) add
        button.button.right(type='reset',tabindex=5) reset

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('/jst/admin.js', 'Admin');
    }
