extends inc/layout

block content
  .header
    .hlcopy kevin scott olson
    .hrcopy kevin scott olson junior
  .main

    .lcopy test copy one two
    .rcopy test copy one two three

    .button.test test button

  .footer
    .company
      include ../svg/256.svg
    .clear
