extends inc/layout

block content
  include inc/header
  .main

    .lcopy test copy one two
    .rcopy test copy one two three

    .button.test test button
    .button.test another

  .footer
    .company
      include ../svg/256.svg
    .clear

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('/jst/index.js', 'Index');
    }
